<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="copy">
        <div class="container-fluid d-flex">
            <form class="d-flex">
                <a class="btn btn-success" th:href="@{/user}" th:text="#{buttons.profile}"></a>
                &nbsp;&nbsp;
                <div class="dropdown">
                    <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" th:text="#{buttons.lang}"></a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="?lang=de" th:text="#{buttons.lang.german}"></a></li>
                        <li><a class="dropdown-item" href="?lang=en" th:text="#{buttons.lang.english}"></a></li>
                    </ul>
                </div>
            </form>
                &nbsp;&nbsp;
            <button class="btn btn-primary d-flex" type="button" data-bs-toggle="offcanvas" data-bs-target="#help" aria-controls="help">Hilfe</button>
            </div>
        </div>

    </div>
</body>
</html>