<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
    <title>Login System</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div th:insert="~{header :: copy}"></div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="btn btn-secondary active" aria-current="page" th:href="@{/logout}" th:text="#{welcome.logoff}"></a>
                </li>
            </ul>
        </div>
        <div th:insert="~{buttons :: copy}"></div>
    </nav>
    <br /><br />

    <div class="container">
        <h3 th:text="#{page.knowhow.list.title}"></h3>
        <br />
        <form method="POST" enctype="multipart/form-data" th:action="@{/knowhow/search}" th:object="${search}">
            <div class="row">
                <div class="col-12">
                    <div class="form-group mb-3">
                        <label class="control-label" th:text="#{page.knowhow.search}"></label>
                        <input type="text" id="toSearch" name="toSearch" class="form-control" th:placeholder="#{page.knowhow.search.placeholder}" th:field="*{toSearch}"/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <br />
                    <a class="btn btn-secondary" th:href="@{/knowhow/show}" th:text="#{page.back}"></a>&nbsp;&nbsp;&nbsp;
                    <button type="submit" class="btn btn-success" th:text="#{page.search.submit}"></button>
                </div>
            </div>
        </form>
        <br /><br />
        <h4 th:text="#{page.search.result}"></h4>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th th:text="#{page.search.nr}"></th>
                    <th th:text="#{page.search.date}"></th>
                    <th><span th:text="#{page.search.url}"/><br /><span th:text="#{page.search.keyword}"/></th>
                    <th th:text="#{page.search.action}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item, searchresultsStat : ${searchresults}">
                    <td th:text="${searchresultsStat.count}" class="align-middle"></td>
                    <td th:text="${item.date}" class="align-middle"></td>
                    <td><span th:text="${item.url}" th:class="align-middle"/><br /><span th:text="${item.title}" th:class="align-middle"/></td>
                    <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" th:data-bs-whatever="${item.id}" th:data-text="${item.description}">Detail</button></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:insert="~{last :: copy}"></div>
    </div>

    <div class="modal modal-xl fade modal-dialog-scrollable" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel" th:text="#{page.search.details}"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true" th:text="#{page.search.details.pic}"></button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false" th:text="#{page.search.details.text}"></button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                                <br />
                                <img id="dbimage" src="" alt="Screenshot" width="1024" class="align-item-center"/>
                            </div>
                            <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                                <br />
                                <p id="dbtext"></p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{page.search.details.btn}"></button>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}" type="application/javascript"></script>
    <script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}" type="application/javascript"></script>
    <script type="text/javascript" th:src="@{/js/snippets.js}"></script>
</body>
</html>