<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="_csrf" content="${_csrf.token}"/>
        <meta name="_csrf_header" content="${_csrf.headerName}"/>
        <title>Login System</title>
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div th:insert="~{header :: copy}"></div>
        </nav>
        <br /><br />

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 th:text="#{failure.headline}"></h1>
                    <p class="fs-3" th:text="#{failure.message}"></p>
                    <p class="fs-4" th:text="${ip}"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <br />
                    <br />
                    <a class="btn btn-primary active f" aria-current="page" th:href="@{/login}" th:text="#{login}">Login</a>
                </div>
                <div class="col-9">&nbsp;</div>
            </div>
        </div>

        <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}" type="application/javascript"></script>
        <script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}" type="application/javascript"></script>
    </body>
</html>